<h1>Burger List</h1>

<ul class="notDevoured">
    <li>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Burger" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Devour</button>

        </div>
    </li>
</ul>

<ul class="devoured">

</ul>